<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Lionel Messi</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <a class="menu-link" href="./">Home</a>
            <a class="menu-link" href="/about">About</a>
            <a class="menu-link" href="./goals">Goals</a>
            <a class="menu-link" href="./photos">Photos</a>
        </div>
        <div class="about">
            <h1>Lionel Messi</h1>
            <p>Lionel Andrés Messi , born on 24 June 1987, is an Argentine footballer who currently plays for Barcelona and the Argentine national team.
                 He is one of the best football players of his generation and is frequently considered as the world's best contemporary player. 
                 Lionel Messi, whose playing style and ability have drawn comparisons to Diego Maradona, received Ballon d'Or and FIFA World Player of the Year nominations by the age of 21 and won both by the age of 22. Diego Maradona once declared that Messi was his "successor."</p>
        </div>
    </div>    
    
</body>
</html>